
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
    /* height: 40px; */
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
}
.footerItems{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1030px;
    padding: 35px 0px 20px 0px;
    margin: auto;
    /* margin-top: 25px; */
    /* padding: 50px; */
    /* justify-content: space-around; */
    /* height: 40px; */
    box-sizing: border-box;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 40px; */
}
.footLeft, .footRight{
    text-align: start;
    width: 100%;
}
.footer div h4 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.footLeft a, .footRight a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    font-size:small;

}

.footBottom {
    display: flex;
    flex-grow: 2;
    padding-top: 15px;
    margin-bottom: 25px;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: 27px;
    letter-spacing: 0.5px;
    font-size: 13px;
}
