.spots-container {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  gap: 10px;
  justify-content: center;
}


.spot-card {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.spot-card:hover {
  transform: scale(1.05);
}

.sc-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.sc-preview-details {
  padding: 16px;
  display: grid;
  grid-template:
  "loc loc loc loc rating"
  "p p p p p";
  gap: 8px;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;

}

.sc-location-and-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}


.sc-location {
    font-size: 1.1em;
    font-weight: bold;
    grid-area: loc;

}

.sc-price {
    grid-area: p;
    width: 150px;
    font-size: 1em;
    color: #888;
}

.sc-rating {
  display: flex;
  /* right: 50px; */
  /* overflow: hidden; */
  flex-direction: column;
  justify-content: space-between;
  /* align-content: center; */
  align-content: right;
  grid-area: rating;

}

.spot-rating {
  font-size: 1em;
  color: #444;
}


/* SpotDetails page */

.details-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* height: 1000px; */
  max-width: 1000px;
  align-self: center;
  background-color: #fff;
  /* overflow: hidden; */
}


#details-images {
  display: flex;
  /* left: 100px; */
  flex-direction: row;
  gap: 5px;
  list-style: none;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 0px;
  /* height: auto; */
  height: 550px;
  overflow-y: hidden;
  overflow-x: scroll;
}

#details-default-main-image, #details-rest-images{
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0;
  margin: 0px;
}

#details-default-main-image img, #details-rest-images img{
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 8px;
}

#details-default-main-image img {
  margin-left: 1000px;
}

#details-upper {
    height: 100px;
    width: 100%;
    /* border: 1px solid #ddd;
    border-radius: 8px; */
    overflow: hidden;
    padding: 10px;
}

.details {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  /* border-radius: 8px; */
  /* overflow: hidden; */
  justify-content: space-between;
}

#details-left {
    display: flex;
    flex-direction: column;
    left: 0px;
    width: 70%;
    background-color: #fff;
    overflow: hidden;
    height: 300px;
    padding: 5px 0 5px 10px;
}

#details-left-desc {
    font-size: 14px;
    color: black;
}

#details-right {
    right: 0px;
    justify-items: center;
    display: grid;
    grid-template:
    "p . r rv"
    "b b b b";
    width: 35%;
    height: 130px;
    background-color: #fff;
    /* padding: 0 5px 0 5px; */
    margin-top: 10px;
    margin-right: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
#details-right-price {
    grid-area: p;
    padding-top: 10px;
    /* border: 1px solid red; */
    margin-left: 10px;

}

#details-right-rating {
    grid-area: r;
    padding-top: 10px;
    /* border: 1px solid red; */
}

#details-right-review-number {
    grid-area: rv;
    /* border: 1px solid red; */
    padding-top: 10px;
    margin-right: 10px;

}

#details-right-reserve-button {
    grid-area: b;
    border: 1px solid red;
    border-radius: 0px;
    font-size: 18px;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 1);
    background-color: rgb(247, 85, 52);
    color: white;
    width: 85%;
    height: 40px;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
    justify-self: center;
    align-content: center;
    /* transition: transform 3s; */
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

#details-right-reserve-button:active {
    box-shadow: none;
}


#details-left {
    display: flex;
    left: 0px;
    width: 70%;
    background-color: #fff;
    overflow: hidden;
}

#details-lower-ratings-reviews {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#details-lower {
  display: flex;
  flex-direction: column;
  gap: 10px;

}


.details-lower-ratings-reviews-container {
  display: flexbox;
  width: 50%;
  flex-direction: column;
  /* justify-items: start; */
}

.details-lower-ratings-reviews-container .create-button {
  justify-content: center;
  align-content: center;
  width: 40%;
  min-width: 150px;
  max-width: 250px;
  margin-left: 10px;
  cursor: pointer;
  background-color: rgb(120, 120, 207);
}


.manage-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  /* height: 1000px; */
  max-width: 1000px;
  align-self: center;
  background-color: #fff;
  /* overflow: hidden; */
}

.create-button-2 {
  display: block;
  font-size: 16px;

  border: 1px solid black ;
  border-radius: 0px;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 1);
  background-color: rgb(247, 85, 52);
  color: white;
  width: 40% ;
  min-width: 120px;
  max-width: 150px;
  height: 30px;

  justify-self: center;
  align-content: center;
  /* transition: transform 3s; */
  text-align: center;
  cursor: pointer;

}

.manage-card {
  height: 100%;
}

.manage-spots-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.create-button-2:hover {
  background-color: rgb(247, 85, 52);
  color: white;
}

.create-button-2:active {
  box-shadow: none;
}

.manage-upper {
  height: 150px;
  width: 100%;
  padding: 10px;

}

.manage-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 300px;
  justify-items: start;
}

.manage-button-update {
  display: block;
  font-size: 15px;
  /* font-weight: 900; */
  border: 1px solid black ;
  border-radius: 0px;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 1);
  background-color: rgb(222, 222, 222);
  color: black;
  width: 30% ;
  margin: 0 0 5px 5px;
  padding: 5px;
  padding: 0;
  /* margin-bottom: 10px; */
  height: 25px;
  justify-self: center;
  align-content: center;
  /* transition: transform 3s; */
  text-align: center;
  cursor: pointer;
}



.manage-button-delete {
  width: 30%;
  color: black;
  cursor:pointer;
  margin-bottom: 7px;
  font-size: 14px;
  display: block;
  height: 25px;
  line-height: 25px;
}


.manage-button-delete button  {
  display: block;
  font-size: 15px;
  /* font-weight: 900; */
  border: 1px solid black ;
  border-radius: 0px;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 1);
  background-color: rgb(222, 222, 222);
  color: black;
  width: 100% ;
  margin: 0 0 5px 5px;
  padding: 5px;
  padding: 0;
  /* margin-bottom: 10px; */
  height: 25px;
  justify-self: center;
  align-content: center;
  /* transition: transform 3s; */
  text-align: center;
  cursor: pointer;

}


.manage-button-delete button:hover, .manage-button-update:hover {
  background-color: rgb(222, 222, 222);
  color: black;
}
.manage-button-delete button:active, .manage-button-update:active {
  box-shadow: none;

}

.manage-button-update {
  height: 23px;
  width: 90px;
}





/* Modal */

#delete-subheading {
  color: white;
  padding-bottom: 30px;
  text-align: center;
}


.yes-no-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.yes-button {
  width: 50%;
  height: 30px;
  border-radius: 0px;
  background-color: rgb(210, 18, 18);
  color: white;
  box-shadow: 2px 2px 1px 0px rgb(255, 255, 255);
  border: 0.5px solid white;

}

.no-button {
  width: 50%;
  height: 30px;
  border-radius: 0px;
  background-color: rgb(125, 123, 123);
  box-shadow: 2px 2px 1px 0px rgb(255, 255, 255);
  border: 0.5px solid white;
  color: white;


}


.yes-button:active {

  box-shadow: none;
}

.no-button:active {
  box-shadow: none;

}

.yes-button:hover {
  background-color: rgb(210, 18, 18);
}

.no-button:hover {
  background-color: rgb(125, 123, 123);
}

/* .tooltip {

} */
