.form-parent-container {
  padding: 10px;
  margin-top: 100px;
  box-shadow: 0px 0px  15px rgb(11, 0, 0);
  border-radius: 8px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: center;
}
